body{
    text-align: center;
}

body > *{
    border-style: solid;
    border-color: black;
    margin: 1%;
    text-align: left;
}

header{
    width: 90%;
    position: sticky;
}

p{
    position: relative;
    bottom: 27px;
    left: 20px;
    background-color: white;
    display: inline-block;
}

nav{
    width: 27.5%;
    /*position: sticky;
    display: inline-block;*/
    height: 70vh;
    float: left;
    top: 0px;
    position: sticky;
    
   
}
article{
    /*display: inline-block;
    position: sticky;*/
    height: 33vh;
    position: sticky;
    float:left;
    width: 60%
}   

footer{
    width: 90%;
    height: 10vh;
    position: relative;
    display: inline-block;
    float: left;
}