<p>lista-productos works!</p>
<section class="container mt-4">
  <button class="btn btn-primary mb-3" (click)="alternarMostrarProductos()">
    MOSTRAR PRODUCTOS
  </button>
  <article *ngIf="mostrarProductos; else noProducts">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Color</th>
          <th>Tamaño</th>
          <th>Tipo</th>
          <th>Año de Fabricacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.color }}</td>
          <td>{{ producto.tamanio }}</td>
          <td [ngSwitch]="producto.tipo">
            <span *ngSwitchCase="'Electronico'">Electronico</span>
            <span *ngSwitchDefault>Otro</span>
          </td>
          <td>{{ producto.anioFabricacion }}</td>
        </tr>
      </tbody>
    </table>
  </article>
  <ng-template #noProducts>
    <p class="alert alert-info">
      NO HAY PRODUCTOS
    </p>
  </ng-template>
</section>
