*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
}

#header-principal{
    padding: 30px;
    width: 100%;
    height: 60px;
    background-color: rgb(113, 142, 167);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
 
#nav-principal{
    padding: 30px;
    width: 100%;
    height: 60px;
    background-color: rgb(167, 204, 238);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
}

#nav-principal a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
main{
    
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main nav{
    
    width: 15%;
    height: 500px;
    background-color: #5c6e80;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    overflow: hidden;

}

main nav input{

    border-radius: 15px;
}

#buscar{
    padding: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


#container{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 10px;
}
.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius: 15px;
}

.header-section{
    width: 90%;
    background-color: bisque;
    height: 40px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.article-section{
    width: 90%;
    background-color: rgb(154, 133, 108);
    height: 80px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    overflow: scroll;
}

#container .section .article-section::-webkit-scrollbar{
    width: 4px;
    height: 100%;
    

}
#container .section .article-section::-webkit-scrollbar-thumb{
    background-color: rgb(224, 164, 43, .8);
    border-radius: 5px;

}

.footer-section{
    width: 90%;
    background-color: rgb(155, 96, 24);
    height: 30px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}


aside{
    
    width: 15%;
    height: 500px;
    background-color: #5c6e80;
    text-align: center;
    
}
#footer-principal{
    width: 100%;
    height: 80px;
    background-color: rgb(108, 99, 144);
    color: white;
    text-align: center;
    align-items: center;
}


