div{
    display: flex;
    gap: 5px;
}

table{
    margin-top: 15px;
}

.button-create{
    margin-top: 10px;
}

div{
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    width: 300px;
}