/* INDEX */
* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
    
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    padding: 20px; 
}

h2 {
    text-align: center;
}

main p {
    text-align: center;
}

.contenedor figure {
    display: flex;
}

.contenedor figure img {
    margin: 10px;
}
.contenedor {
display: flex;
justify-content: center; 
align-items: center; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}


/* SERVICIOS GENERALES */
.services {
    padding: 50px;
    text-align: center;
}

.doctor-services {
    margin-bottom: 50px;
}

.doctor-services h3 {
    color: #333;
}

.doctor-services ul {
    list-style-type: none;
    padding: 0;
}

.doctor-services li {
    margin-bottom: 10px;
}


/* CONTACTO GENERAL */

.contact {
    padding: 50px;
    text-align: center;
}

/* PROFESIONALES */


/* Carlos */

.doctor-info-personal {
    background-color: #fff;
    padding: 50px;
    margin: 20px;
}

.doctor-info-personal h2 {
    color: #333;
    text-align: center;
}

.doctor-info-pesonal p {
    line-height: 1.6;
}


.banner {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.contact-info {
    background-color: #fff;
    padding: 50px;
}

.contact-info h2 {
    color: #333;
    text-align: center;
}

.contact-info p {
    line-height: 1.6;
}

.banner h2 {
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.doctor-info {
    padding: 30px;
    margin: 10px;
    background-color: #dfdfdf;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    width: 35vh;
}

.doctor-info a {
    text-decoration: none;
    color: black;
}
.doctor-info a:hover {
    text-decoration: underline;
}

/* Servicios */

.doctor-services ul img {
    margin-bottom: 50px;
}

.doctor-services img {
    height: 200px;
    width: 400px;
    object-fit: cover;
}






